<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="corsEnabledEndpointBehavior" type="WcfCors.CorsEnabledEndpointBehavior, WcfCors" />
      </behaviorExtensions>
    </extensions>
    <services>
      <service name="PunService.AJAX.PunManager" behaviorConfiguration="PunServiceBehavior">
        <endpoint  address="net.tcp://localhost:18080/PunService"
                   binding="netTcpBinding"
                   contract="PunService.AJAX.IPunSerivce"
                   />
        <endpoint address=""
                  behaviorConfiguration="PunServiceEndPointBehavior"
                  binding="webHttpBinding"
                  contract="PunService.AJAX.IPunSerivce"
          />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:18081/punservice"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:40:00"></binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="PunServiceEndPointBehavior">
          <!--<enableWebScript/>-->
          <webHttp/>
          <corsEnabledEndpointBehavior />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="PunServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>