<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:18080/PunService"
                binding="netTcpBinding"
                contract="PunService.AJAX.IPunSerivce"
                />
    </client>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:40:00"></binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
    </behaviors>
  </system.serviceModel>
</configuration>